// 1200 992 768 576 320
// 1200 - 992
// 991 - 768
// 767 - 576
// 575 - 320

@media (max-width: 1200px) {
  .promo {
    .promo_header {
      .header_items {
        .header_call {
          .call_descr {
            font-size: 11px;
          }
          .call_number {
            font-size: 17px;
          }
        }
        .header_btn {
          font-size: 13px;
        }
      }
    }
  }
  .mobile {
    .mobile_items {
      .mobile_content {
        min-height: 900px;
        justify-content: space-around;
      }
    }
  }
  .footer {
    .footer_items {
      flex-direction: column;
      .footer_social {
        position: static;
        order: 3;
        margin-top: 10px;
      }
      .footer_text {
        order: 1;
      }
      .footer_links {
        position: static;
        order: 2;
      }
    }
  }
}
@media (max-width: 991px) {
    .header{
        .header_menu{
            li{
                a{
                    font-size: 11px;
                }
            }
        }

    }
  .promo {
    .promo_header {
      .header_items {
        .header_call {
          .call_descr {
            font-size: 11px;
          }
          .call_number {
            font-size: 11px;
          }
        }
        .header_btn {
          font-size: 11px;
        }
      }
    }
  }
  .promo{
    .promo_content{
        .promo_items{
            .promo_title{
                font-size: 45px;
            }
            .promo_subtitle{
                font-size: 29px;
            }
        }
    }
  }

.car{
    .car_dark{
        .dark_items{
            .car_img{
                width: 650px;
            }
        }
    }
}
.rules{
    .rules_items{
        .rules_blue{
            flex-direction: column;
        }
        .rules_red{
            flex-direction: column;
        }
    }
}
}
@media (max-width: 767px) {
    .header{
        .header_menu{
            flex-direction: column;
            width: 50%;
            height: 100vh;
            position: fixed;
            left: -200%;
            background: rgba(0,0,0, 0.6);
            transition: 0.3s all;
            li{
                padding: 5px 0;
                border: none;
                a{
                    font-size: 17px;
                    
                }
            }
        }
        .header_menu-active{
            transition: 0.3s all;
            left: 0;
        }
        .header_hamburger{
            width: 50px;
            height: 25px;
            padding: 3px 0;
            position: absolute;
            right: 10px;
            top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: 0.3s all;
            .line{
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
                transition: 0.3s all;

            }
        }
        .header_hamburger-active{
            transition: 0.3s all;
            .line{
                &:nth-child(1){
                    transition: 0.3s all;
                    transform: rotate(45deg) translateX(10px);
                }
                &:nth-child(2){
                    transition: 0.3s all;
                    display: none;
                }
                &:nth-child(3){
                    transition: 0.3s all;
                    transform: rotate(-45deg) translateX(10px);
                }
            }
        }
    }
    .promo{
        .promo_header{
            .header_items{
                .header_logo{
                    img{
                        width: 100%;
                    }
                    .logo_descr{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}